.registerForm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 452px;
    border: 2px solid red;
    z-index: 100;
    background-color: #ffffff;
  
    &__container {
      margin: 17px 12px;
    }
  
    &__inputFields {
      fieldset:not(:last-child) {
        margin-bottom: 28px;
      }
    }
  }
  
  @media (min-width: 768px) {
    .registerForm {
      width: 469px;
      height: 485px;
      &__container {
        margin: 30px 20px;
      }
    }
  }
  
  @media (min-width: 1024px) {
    .registerForm {
      height: 493px;
      &__container {
        margin: 45px 30px;
      }
    }
  }
  
  @media (min-width: 1366px) {
    .registerForm {
      height: 525px; /* Full height at 1366px */
      &__container {
        margin: 56px 40px;
      }
    }
  }
  