.homeSection{
    max-width: 74.125rem;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 8;
    .homeSection__container{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}