.homeSection{
    max-width: 74.125rem;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    position: relative;
}

@media only screen and (min-width: 375px) {
    
}

@media only screen and (min-width: 768px) {
    .homeSection{       
        margin: 0 20px;
    }
}