.homeSection{
    max-width: 74.125rem;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    position: relative;
}