nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    border: 2px solid red;
    background-color: #000000;
    justify-content: center;
    z-index: 999;
    overflow: visible;
    transform: translateX(-102%); /* Start off-screen to the left */
    transition: transform 0.3s linear;
    width: 220px;
    &.open {
        transform: translateX(-2%);

      }    
    ul{
        margin: 0;
        padding: 40px 0 0 50px;
        list-style-type: none;
        
        li{
            &:not(:last-child){
                margin-bottom: 10px;
            }
            a{
                text-decoration: none;
                color: #FFF;
                font-family: "Montserrat";
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                &:active,&.active,&:hover{
                    color: #FFD540;
                }
                .item__label{
                    padding-bottom: 2px;
                    border-bottom: 2px solid #FFD540;
                }
            }
        }
        .dropdown{
            .dropdown__menu{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background-color: #000000;
                padding: 0 0 0 25px;
                margin-top: 10px;
                // border: 4px solid green;
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
        nav{
            position: relative;
            height: 140px;
            max-width: 51.6rem; // counted 827px
            margin: auto;
            width: 100%;
            transform: translateX(0%); /* Start off-screen to the left */
            align-content: center;
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0;
                border: 2px solid saddlebrown;
                li{
                    &:not(:last-child){
                        margin-right: 24px;
                        margin-bottom: 0;
                    }
                }
            }
        }
}