header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8.75rem;
    margin: 0 5px;
    // border: 2px solid green;
    z-index: 99;
}