.homeSection__container-register{
    margin-top: 50px;
    position: relative;
    .homeSection__container-button {
        width: 250px;
        height: 64px;
        border-radius: 50px;
        border: 2px solid #FFD540;
        background-color: #FFD540;
        cursor: pointer;
        color: #000000;
        font-family: "Montserrat";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .icon-container{
            margin-right: 16px;
        }
    }
}

@media only screen and (min-width:425px) {
    .homeSection__container-register{
        justify-content: flex-start;

    .homeSection__container-button{
        width: 360px;
    }
    }
}